@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "sans-serif";
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.my-2 {
  margin: 10px 0;
}

p {
  font-size: 20px;
}

img {
  max-width: 100%;
  object-position: center;
  object-fit: cover;
}

li {
  text-transform: uppercase;
}

.container.spin,
nav.spin {
  transform: rotateZ(-20deg);
}

.container {
  padding: 20px 0;
  width: 100vw;
  max-width: 1100px;
  position: relative;
  transform-origin: top left;
  transition: all 0.4s;
}

.circle-container {
  position: absolute;
  top: -100px;
  left: -100px;
}

.circle.spin {
  transform: rotateZ(-180deg);
}

.circle {
  background-color: lightcoral;
  opacity: 0.8;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s;
}

.circle button {
  border: none;
  position: absolute;
  background: transparent;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.circle button#open {
  left: 65%;
  top: 65%;
}

.circle button#close {
  right: 65%;
  bottom: 65%;
}

nav {
  height: 150vh;
  width: 400px;
  position: absolute;
  background-color: #333;
  left: -400px;
  transform-origin: top right;
  transition: all 0.4s;
}

nav ul {
  list-style: none;
  position: relative;
  height: 100%;
  width: 100%;
}

nav li {
  color: #fff;
  font-size: 20px;
  position: absolute;
  font-size: 20px;
  transform: rotateZ(20deg);
}

nav .nav-1 {
  bottom: 560px;
  right: 50px;
}

nav .nav-2 {
  bottom: 480px;
  right: 50px;
}

nav .nav-3 {
  bottom: 400px;
  right: 50px;
}
